/*
Theme Name:     Tema Alcaldía de Miranda
Theme URI:      
Description:    Child theme for the Twenty Thirteen theme
Author:         Raúl González y Guillermo Santiago
Author URI:     
Template:       twentythirteen
Version:        0.1.0
*/
@import url("../twentythirteen/style.css");
img
{
  width: 100%;
  height: auto;
}

.site-title
{
  text-shadow: 1px 1px 3px #000;
}

section#noticias-recientes
{
  min-height: 400px;

  /**/
  background-color: #3399ef;
  /**/
}


.full
{
  min-width: 320px;
  padding: 1em;
  margin 0;
}
.third
{
  min-height: 200px;
}
section#otros
{
  min-height: 200px;
  padding: 0 !important;
  width: 100%;
}
.wide,
.third
{
  min-width: 320px;
  float: left;
  padding: 1em;
  margin 0;
}
.wide
{
  min-height: 400px;
}
.wide
{
  background-color: #6547ff;
  width: 61.72%;
}
.thin
{
  background-color: #aa0044;
  width: 38.28%;
}
.third
{
  background-color: #aa0044;
  width: 33.3333%;
}
.full
{
  background-color: #0444f4;
}